---
// key: patlldAieOYAHkR3e.b899d2b5613dfc3698c4f9dfae687303dc79418c41ddefeff69d1e49aaf484f0
// token ID : patlldAieOYAHkR3e
// base ID : appPYoZ3OZY8SnfWQ
// Table1 ID : tblojQTynspNiXj3y
// import Airtable from "airtable"
import * as dotenv from "dotenv"
dotenv.config()

console.log('========================================================');
---


<script> 
const embediframe = '<iframe class="airtable-embed" src="https://airtable.com/embed/shr8tgzzyVobSVEWf?backgroundColor=yellow&layout=card" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>'
import Airtable from "airtable"
let delay = 2000
const ToDo = document.getElementById('todolist')
Airtable.configure({
    endpointUrl: 'https://api.airtable.com',
    apiKey: 'patlldAieOYAHkR3e.b899d2b5613dfc3698c4f9dfae687303dc79418c41ddefeff69d1e49aaf484f0'
});
var base = Airtable.base('appPYoZ3OZY8SnfWQ');

window.addEventListener("load", () => {
    displayTodo()
})

function displayTodo() {
    let todo = ""
    base('Table1').select({
        // Selecting the first 3 records in Grid view:
        // maxRecords: 3,
        view: "Grid view",
        // fields: ["Email", "Name"],
    })  .eachPage(function page(records, ) {
            // This function (`page`) will get called for each page of records.
            records.forEach(function(record) { //data is retrieved row-by-row
                let checked = record.get('isDone')
                if(checked == true) checked = "checked"
                else checked = ""

                let pad = "style='padding:7px 55px;'"
                todo += `
                    <tr>
                        <td ${pad}> ${record.get('ToDo')} </td>
                        <td ${pad}> <input class="checkboxes" field=${record.id} type="checkbox" ${checked} /> </td>
                    </tr>`
            });
            ToDo.innerHTML = `
                <tr>
                    <th colspan='2'>ToDo App</th>
                </tr>
                <tr>
                    <th>Description</th>
                    <th>Status</th>
                </tr> 
                ${todo}`
                addListenerToCheckboxes()
            // fetchNextPage(); // or next 'sheet'
        },  function done(err) {
                if (err) { console.error(err); return; }
            }
        );
        refreshEmbeddedAirtable()
}

// create new todo and insert to Airtable
function newTodo() {
    console.log('test');
    let ToDo = document.getElementById("todoitem")
    base('Table1').create([
        {
            "fields": {ToDo: ToDo.value, isDone: false}
        },
        ], function(err, records) {
            if (err) {
                console.error(err);
                return;
            }
        records.forEach(function (record) {
            console.log(record.getId());
        });
    });
    setTimeout(() => {
        refreshEmbeddedAirtable()
    }, delay);
}

const submitBtn = document.getElementById('submitBtn')
submitBtn.addEventListener("click", () => {
    newTodo()
    setTimeout(displayTodo, delay) 
})
const deleteBtn = document.getElementById("deleteBtn")
deleteBtn.addEventListener("click", () => {
    console.log('clicked');
    deleteTodo()
    setTimeout(displayTodo, delay) 

})

function addListenerToCheckboxes() {
    const checkboxes = document.querySelectorAll(".checkboxes")
    // console.log(checkboxes);
    checkboxes.forEach((x) => x.addEventListener("click", (q) => {
        console.log('checked / unchecked');
        let isChecked = x.checked
        console.log(isChecked);
        let fiedlID = x.getAttribute('field')
        console.log(x.getAttribute('field'));
        updateTodo(fiedlID, isChecked)
    }))
}
function updateTodo(fieldID, isChecked) {
    base('Table1').update(fieldID, {
        // "ToDo": "Clean the bathroom",
        "isDone": isChecked
    }, function(err, record) {
        if (err) {
            console.error(err);
            return;
        }
    // console.log(record.get('ToDo'));
    });
}
function deleteTodo() {
    base('Table1').select({
        // Selecting the first 3 records in Grid view:
        // maxRecords: 3,
        view: "Grid view",
        filterByFormula: "NOT({isDone} = '')"
        // fields: ["Email", "Name"],
    })  .eachPage(function page(records, ) {
            records.forEach(function(record) { //data is retrieved row-by-row
                // console.log(record.id)
                deleteEntry(record.id)
            });
        },  function done(err) {
                if (err) { console.error(err); return; }
            }
        );

    function deleteEntry(fieldID) {
        base('Table1').destroy(fieldID, function(err, deletedRecord) {
            if (err) {
                console.error(err);
                return;
            }
        console.log('Deleted record', deletedRecord.id);
        });
    }
    setTimeout(displayTodo, delay) 
}
function refreshEmbeddedAirtable() {
    let at = document.getElementById("embedAirtable")
    at.innerHTML = ''
    at.innerHTML = embediframe
}
</script>

<table id="todolist"> </table>

<div class="formCtnr">
    <form>
        <label for="todoitem">New ToDo:</label>
        <input type="text" id="todoitem" name="todoitem" value="i.e clean room">
    </form> 
    <button id='submitBtn'>Insert New ToDo</button>
    <button id='deleteBtn'>Delete Checked</button>
    <a href="https://github.com/zulfidly/astro-airtable-fidly" target="_blank">Github</a>
    <section id="embedAirtable"></section>
</div>


<style>
    a{
        text-align: center;
    }
    .formCtnr {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        margin-top: 15px;
        gap: 10px;
    }
    input[type="text"] {
        width: 98%;
    }
    th, td, tr {
        border: 1px solid black;
        padding: 5px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        background-color: lightgoldenrodyellow;
        font-size: 16px;
    }

</style>